body{
  width: 1024px;
  margin: 50px auto;
  border: 3px solid black

}

header{
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
}

.photo{
  width: 180px;

}

.main-photo{
  border-radius: 5px;
}

.contacts{

}

main{
  margin-bottom: 50px;

}


.summary,
.skills{
  margin: 25px 50px;
}
