body{
  font-family: 'Cuprum', sans-serif;
  width: 1024px;
  margin: 50px auto;
  border: 3px solid black;
  border-radius: 5px;
}

h1{
  font-size: 2em;
  margin-top: 5px;
}

h2{
  margin-bottom: 5px;
}

header{
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
}

.photo{
  width: 180px;

}

.main-photo{
  border-radius: 5px;
}

.contact-list{
   margin-left: -10px;
}

main{
  margin-bottom: 50px;

}


.summary,
.skills{
  margin: 25px 50px;
}

.summary-text,
.skills-text{
  margin-left: 15px;
  margin-top: 5px;
}
